<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/output.css" />
        <title>Amir Hasrati - Contact</title>
    </head>

    <body id="contact" class="bg-slate-900">
        <div class="flex flex-col justify-center">
            <div id="navbar"><%- include('partials/navbar') %></div>
            <div>
                <h1
                    class="hidden sm:block text-center text-3xl lg:text-4xl text-slate-300 pt-4 mb-2 mt-4">
                    Let's Connect!
                </h1>
                <h3 class="text-center text-lg lg:text-xl text-slate-400 mt-4">
                    Here are a few places where you can reach me
                </h3>
            </div>
            <div
                class="grid grid-cols-1 gap-4 mx-auto mt-16 row-auto p-4 md:grid-cols-1 md:gap-10">
                <div class="py-4 max-w-72 min-w-80 border-b border-slate-600">
                    <div class="flex justify-between items-center">
                        <h3 class="text-lg text-slate-300 my-1 px-1">Email</h3>
                    </div>
                    <ul class="px-1 text-blue-500">
                        <li class="py-1">
                            <a
                                class="hover:underline"
                                href="mailto:amir.hasrati@outlook.com">
                                amir.hasrati@outlook.com
                            </a>
                        </li>
                        <li class="py-1">
                            <a
                                class="hover:underline"
                                href="mailto:ahasrati@uoguelph.ca">
                                ahasrati@uoguelph.ca
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="py-4 max-w-72 min-w-80 border-b border-slate-600">
                    <div class="flex justify-between items-center">
                        <h3 class="text-lg text-slate-300 my-1 px-1">Github</h3>
                    </div>
                    <ul class="px-1 text-blue-500">
                        <li class="py-1">
                            <a
                                class="hover:underline"
                                href="https://github.com/amirhasrati">
                                @amirhasrati
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="py-4 max-w-72 min-w-80 border-b border-slate-600">
                    <div class="flex justify-between items-center">
                        <h3 class="text-lg text-slate-300 my-1 px-1">
                            LinkedIn
                        </h3>
                    </div>
                    <ul class="px-1 text-blue-500">
                        <li class="py-1">
                            <a
                                class="hover:underline"
                                href="https://linkedin.com/in/amirhasrati">
                                @amirhasrati
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>
