<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/output.css" />
        <title>Amir Hasrati - Home</title>
    </head>

    <body id="home" class="bg-slate-900">
        <div class="min-h-screen flex flex-col">
            <!-- Navbar -->
            <div id="navbar"><%- include('partials/navbar') %></div>

            <div class="flex justify-center">
                <h1 class="text-center text-6xl mt-8 text-slate-200">
                    Amir Hasrati
                </h1>
            </div>

            <div class="flex justify-center flex-1">
                <div class="w-3/4 lg:w-1/2 flex flex-col justify-center">
                    <h2 class="text-slate-300 text-2xl p-2">
                        Featured: Todulo
                    </h2>
                    <div class="flex flex-col items-center justify-center">
                        <img
                            class="rounded-2xl"
                            src="resources/todulo.png"
                            alt="An demo image of Todulo" />
                        <a class="text-blue-600 p-2" href="https://todulo.com">
                            Go to Todulo
                        </a>
                    </div>
                </div>
            </div>

            <!-- Title / Heading -->
            <!-- <div class="mt-8 flex-1 flex flex-col items-center">
      <h1 class="text-center text-6xl lg:text-7xl text-slate-200 pt-4 mb-2 mt-4">Amir Hasrati</h1>
      <h3 class="text-center text-xl lg:text-2xl text-slate-400 m-2">Computing Student</h2>
    </div> -->

            <!-- Roadmap -->
            <!-- <div class="mt-auto mb-16">
      <div class=" flex flex-col items-center">
        <h2 class="text-center text-2xl text-slate-300 m-4 p-4">Check out what I'm working on!</h2>
        <a href="/roadmap" class="bg-slate-200 text-slate-800 text-lg py-1 px-4 rounded-md hover:bg-white hover:text-slate-900">Explore</a>
      </div>

    </div> -->

            <!-- <div class="flex-1 flex flex-col items-center m-8">
      <p class="text-slate-400 max-w-64 text-center p-2"><em>"<%= q %>"</em></p>
      <p class="text-slate-400 text-xs">- <%= a %></p>
    </div> -->
        </div>
        <footer></footer>
        <script src="js/app.js"></script>
    </body>
</html>
