<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/output.css" />
        <title>Amir Hasrati - Projects</title>
    </head>
    <body id="projects" class="bg-slate-900">
        <div class="flex flex-col justify-center">
            <div class="">
                <div id="navbar"><%- include('partials/navbar') %></div>
            </div>
            <div>
                <h1
                    class="hidden sm:block text-center text-3xl lg:text-4xl text-slate-300 pt-4 mb-2 mt-4">
                    Projects
                </h1>
            </div>
        </div>

        <script src="js/app.js"></script>
    </body>
</html>
