<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Amir Hasrati - Roadmap</title>
</head>
<body id="roadmap" class="bg-gray-800">
    <div class="flex flex-col justify-center">
        <div id="navbar">
            <%- include('partials/navbar') %>
        </div>
        <div class="flex flex-col items-center my-2">
            <h1 class="hidden sm:block text-center text-3xl lg:text-4xl text-gray-300 pt-4 mb-2 mt-4">Explore my roadmap</h1>
            <h3 class="text-center text-lg lg:text-xl text-gray-400 mt-4">A snapshot of my recent goals and achievements.</h2>
        </div>
        <div class="grid grid-cols-1  gap-4 mx-auto row-auto p-4 m-2 md:grid-cols-2 md:gap-10">
            <div class="h-64 bg-gray-700 rounded-xl shadow-xl max-w-96">
                <div class="flex border-b border-gray-600 justify-between items-center">
                    <h3 class="text-lg text-gray-300 mx-2 my-1 px-2 py-1">Restructure Website</h3>
                    <p class="px-2 py-1 mx-4 text-xs text-center text-gray-100 bg-orange-600 rounded-xl shadow-sm">In Progress</p>
                </div>
                
                <ul class="mx-2 p-2 text-gray-400 list-disc">
                    <li class="ml-4 py-1">Wrote <span class="text-gray-100">HTML</span> partials and templates with <span class="text-gray-100">EJS</span>.</li>
                    <li class="ml-4 py-1">Built elegant and interactive UI using <span class="text-gray-100">Tailwind</span> and <span class="text-gray-100">JavaScript</span>.</li>
                    <li class="ml-4 py-1">Managed server routes with <span class="text-gray-100">Express.js</span>.</li>
                    <li class="ml-4 py-1">Deployed website using <span class="text-gray-100">fly.io</span>.</li>   
                </ul>
            </div>
            <div class="h-64 bg-gray-700 rounded-xl shadow-xl max-w-96">
                <div class="flex border-b border-gray-600 justify-between items-center">
                    <h3 class="text-lg text-gray-300 mx-2 my-1 px-2 py-1">Web Dev Bootcamp</h3>
                    <p class="px-2 py-1 mx-4 text-xs text-center text-gray-100 bg-red-700 rounded-xl shadow-sm">Next</p>
                </div>
                
                <ul class="mx-2 p-2 text-gray-400 list-disc">
                    <li class="ml-4 py-1">Create a blog application from scratch using <span class="text-gray-100">Node, Express, and MongoDB</span>.</li>
                    <li class="ml-4 py-1">Learn more about <span class="text-gray-100">RESTful APIs</span></li>
                    <li class="ml-4 py-1">Recognize and prevent common security exploits like SQL-Injection & XSS</li>
                    <li class="ml-4 py-1">Advance my front-end development with <span class="text-gray-100">React</span>.</li>   
                </ul>
            </div>
            <div class="h-64 bg-gray-700 rounded-xl shadow-xl max-w-96">
                <div class="flex border-b border-gray-600 justify-between items-center">
                    <h3 class="text-lg text-gray-300 mx-2 my-1 px-2 py-1">Productivity Tool (TBD)</h3>
                    <p class="px-2 py-1 mx-4 text-xs text-center text-gray-100 bg-red-700 rounded-xl shadow-sm">To do</p>
                </div>
                
                <ul class="mx-2 p-2 text-gray-400 list-disc">
                    <li class="ml-4 py-1">Design and develop a <span class="text-gray-100">full-stack</span> productivity web-application</li>
                    <li class="ml-4 py-1">Utilize <span class="text-gray-100">SQLite, Express.js, React</span>, and <span class="text-gray-100">Node.js</span></li>
                    <li class="ml-4 py-1">Implement <span class="text-gray-100">user authentication</span> to allow users to track their progress</li>
                </ul>
            </div>
            <div class="h-64  bg-gray-700 rounded-xl shadow-xl max-w-96">
                <div class="flex border-b border-gray-600 justify-between items-center">
                    <h3 class="text-lg text-gray-300 mx-2 my-1 px-2 py-1">AWS Cloud Practitioner</h3>
                    <p class="px-2 py-1 mx-4 text-xs text-center text-gray-100 bg-red-700 rounded-xl shadow-sm">To do</p>
                </div>
                
                <ul class="mx-2 p-2 text-gray-400 list-disc">
                    <li class="ml-4 py-1">Gain an overall understanding of the <span class="text-gray-100">Amazon Web Services</span> (AWS) Cloud</li>
                </ul>
            </div>
            
        </div>
    </div>
    <script src="js/app.js"></script>
</body>
</html>