<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Amir Hasrati | Roadmap</title>
</head>
<body id="roadmap" class="bg-gray-800">
    <div class="min-h-screen flex flex-col">
        <div id="navbar">
            <%- include('partials/navbar') %>
        </div>
    </div>
    <script src="js/app.js"></script>
</body>
</html>